<div class="container">
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-4"><h1>Todo List</h1></div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4"><h1>Done List</h1></div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-4">
			<form action="/remove" method="post">
			  <div class="form-group">
			  	<% @uncomplete.each do |todo|%>
				  	<div class="checkbox">
					  <label>
					    <input type="checkbox" name="id_<%=todo.id%>" value="<%=todo.id%>">
					   <p class="lead"><%=todo.title%></p>
					  </label>
					</div>
				<% end %>
			  </div>
			  <button type="submit" class="btn btn-default">Remove</button>
			  <button class="btn btn-default"><a class="link" href="/new">Add New Task</a></button>
			  <button type="submit" name="method" value="update" class="btn btn-default">Mark As Done</button>
			</form>	

		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<form action="/remove" method="post">
			  <div class="form-group">
			  	<% @complete.each do |todo|%>
				  	<div class="checkbox">
					  <label>
					    <input type="checkbox" name="id_<%=todo.id%>" value="<%=todo.id%>">
					   <p class="lead"><del><%=todo.title%></del> </p>
					  </label>
					</div>
				<% end %>
			  </div>
			  <button type="submit" class="btn btn-default">Remove</button>
			</form>		

		</div>		
	</div>
</div>
